doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js')
    script(src='/javascripts/game/main.js')
    script(src='/javascripts/game/viewport.js')
    script(src='/javascripts/game/input_handler.js')
    script(src='/javascripts/game/models/world.js')
    script(src='/javascripts/game/models/chunk.js')
    script(src='/javascripts/game/models/cell.js')
  body
    block content
